.menu {
  width: 90%;
  margin: 0 auto;
}

ul.show > li:hover {
  transition: 0.5s;
}

ul.show > li a:hover {
  color: #fff;
  background-color: #1b5b31;
  transition: 0.5s;
}

div.navbar-collapse.show ul {
  /* width: 50%; */
  text-align: right;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: -45px;
  padding-left: 20px;
}

/* pod-menu z Oferty */
div.navbar-collapse.show ul li ul.show {
  position: absolute;
  top: 30px;
  left: -140px;
  text-align: right;
}

div.navbar-collapse.show ul li ul.show li a {
  margin: 3px 0px 0px 0px;
  padding: 0px;
  /* padding-right: 40px; */
}

ul.offer {
  margin-left: -15px;
}

ul {
  list-style: none;
}

.menu input {
  width: 200px;
  transition: 1s;
}

.search_icon {
  width: 20px;
}
