.menu {
  width: 90%;
  margin: 0 auto;
}

ul.show > li:hover {
  /* background-color: #1b5b31; */
  transition: 0.5s;
}

ul.show > li a:hover {
  color: #fff;
  background-color: #1b5b31;
  transition: 0.5s;
}

ul.offer {
  margin-left: -15px;
}

ul {
  list-style: none;
}

.menu input {
  width: 200px;
  transition: 1s;
}

.search_icon {
  width: 20px;
}
