body {
  --text_color: #1b5b31;
}

.our_offer {
  height: 840px;
  background-color: #f5f0ec;
}

.offer > span {
  color: var(--text_color);
}

.tile {
  font-size: 0.8rem;
}

.tile:hover {
  border: 1px solid #dcc1ab;
  box-shadow: 4px 4px 2px 2px;
  transition: 0.5s;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.tile a {
  color: var(--text_color);
}

.tile a img {
  width: 15px;
  color: var(--text_color);
}

.tile img {
  width: 50px;
}
