section.our_projects {
  position: relative;
  height: 80vh;
  background-color: #dcc1ab;
}

.grid-item {
  width: 30%;
}

.grid-item img {
  width: 100%;
}

/* CURTAIN - CLICK BTN */
.curtain {
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent 10%, #dcc1ab 80%);
}
