* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.wrap {
  height: auto;
}

/* INSTAGRAM - start */
section.instagram {
  width: 70%;
  height: 478px;
}

div.green {
  width: 1040px;
  height: 358px;
  background-color: #1b5b31;
}

div.green_left p {
  font-family: "Montserrat", sans-serif;
}

div.green_right button {
  min-width: 100px;
  min-height: 40px;
  max-width: 124px;
  max-height: 46px;
  color: #1b5b31;
}
/* INSTAGRAM - end */
